@model CrossVertical.Announcement.ViewModels.TabListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TabListView</title>
    <style>
        .tab {
            overflow: hidden;
            border:1px solid white;
            
            
        }

            
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                
                transition: 0.3s;
                font-size: 14px;
                font-family:'Segoe UI';
            }

                
                .tab button:hover {
                    border-bottom: 2px solid #6264A7;
                }

                
                .tab button.active {
                    border-bottom: 2px solid #6264A7;
                }

       
        .tabcontent {
            display: none;
            
            
            border-top: none;
        }
    </style>
    <script>
       
            function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
          }
    
    </script>
</head>
<body>

   
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'First')">@Model.FirstTab.Title</button>
        <button class="tablinks" onclick="openTab(event, 'Second')">@Model.SecondTab.Title</button>
    </div>
    <div id="First" class="tabcontent">
        
        @Html.Partial("_ListTabPage", Model.FirstTab)
    </div>
        
        <div id="Second" class="tabcontent">
            
            @Html.Partial("_ListTabPage", Model.SecondTab)
        </div>
       
</body>
</html>
